<header class="site-header">
  <div class="container">
    <input type="checkbox" id="toggleNavbar">
    <img src="{{ site.author.thumb | prepend: site.baseurl }}" alt="author thumb" class="dot-header">
    <label for="toggleNavbar" role="button" class="toggle-navbar-button">
      <i class="icon icon-menu"></i>
      <i class="icon icon-cross"></i>
    </label>
    <nav class="navbar">
      <ul>
        <li><a href="{{ '/' | prepend: site.baseurl }}" title="Home">Home</a></li>
        {% for item in site.navbar %}
          <li><a href="{{ '/' | prepend: site.baseurl }}{{ item.slug }}" title="{{ item.title }}">{{ item.title }}</a></li>
        {% endfor %}
        <li><a href="https://drive.google.com/file/d/1k4wpLEAEV1vyWKbrg-dpHg0xOEvP387y/view?usp=sharing" title="Download">Resume</a></li>
      </ul>
    </nav>
  </div>
</header>
